html, body, #map {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#map {
    width: 800px;
    height: 600px;
}
#legend {
	background: #FFFAFA;
	padding: 10px;
    color: black;
}
#myChart, #map {
    display: inline-block;
    float: left;
}
body{ 
    background-color: #FFFAFA;
}
#theDate {
    color: #fff;1
}