html, body, #map {
	height: 100%;
	margin: 0px;
	padding: 0px;
    font-family: Myriad Pro; src: url('MYRIADPRO-REGULAR.OTF');
}
#map {
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
#legend {
	background: #FFFAFA;
	padding: 10px;
    color: black;
    font-family: Myriad Pro; src: url('MYRIADPRO-REGULAR.OTF');
}
#myChart, #map {
    display: inline-block;
}
body{ 
    background-color: #FFFAFA;
}
#theDate {
    color: black;2
}

